@font-face {
  font-family: 'ComfortaaFont';
  src: url('../fonts/Comfortaa.eot');
  src: url('../fonts/Comfortaa.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Comfortaa.woff2') format('woff2'),
       url('../fonts/Comfortaa.woff') format('woff'),
       url('../fonts/Comfortaa.ttf') format('truetype'),
       url('../fonts/Comfortaa.svg#Comfortaa') format('svg');
  font-weight: normal;
  font-style: normal;
}

