<div class="container-fluid map-container" id="map-container">
    <div id="map"></div>
    <div id="map-cover"></div>
    <div id="map-locator"></div>
    <div id="map-banner"><h2>EVE Technologies s.r.o.</h2>Kamelova 3260/3 106 00 - Praha 10</div>
</div>


<div class="container-fluid contact-container" id="contact-container">
    <div class="row">
        <div class="col-md-4 contact-row">
            <h1 class="h1-contact-title"><script>document.write(settedLanguage.ContactUsFormH1Title);</script></h1>
            <form id="contact-form">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="9" id="message" name="message" placeholder=""></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-lg"><script>document.write(settedLanguage.formSend);</script></button>
            </form>
            <script>
                $("input#email").attr("placeholder", settedLanguage.formEmail);
                $("textarea#message").attr("placeholder", settedLanguage.formMessage);
            </script>
        </div>
        <div class="col-md-4 contact-row">
            <h1 class="h1-contact-title"><script>document.write(settedLanguage.footerServicesH1Title);</script></h1>
            <div class="contact-services">
                <p><script>document.write(settedLanguage.footerServiceEnlineEduc);</script></p>
                <p><script>document.write(settedLanguage.footerServiceRespWeb);</script></p>
                <p><script>document.write(settedLanguage.footerServiceWebApp);</script></p>
                <p><script>document.write(settedLanguage.footerServiceAndroidApp);</script></p>
                <p><script>document.write(settedLanguage.footerServiceIOSApp);</script></p>
                <p><script>document.write(settedLanguage.footerServiceSEO);</script></p>
                <p><script>document.write(settedLanguage.footerServiceMarketAnalysis);</script></p>
            </div>
            <h1 class="h1-contact-title-two hidden-xs hidden-sm"><script>document.write(settedLanguage.footerNavigationH1Title);</script></h1>
            <div class="contact-services" id="contact-nav" class="hidden-xs hidden-sm">
                <p><a href="#aboutus-container"
                      onclick='window.history.pushState("EVE Solution - About Us", "EVE Solutions - About Us", "./#aboutus-container");'><script>document.write(settedLanguage.aboutusMenu);</script></a></p>
                <p><a href="#services-container"
                      onclick='window.history.pushState("EVE Solution - Services", "EVE Solutions - Services", "./#services-container");'><script>document.write(settedLanguage.servicesMenu);</script></a></p>
                <p><a href="#team-container"
                      onclick='window.history.pushState("EVE Solution - Team", "EVE Solutions - Team", "./#team-container");'><script>document.write(settedLanguage.teamMenu);</script></a></p>
                <p><a href="#contact-container"
                      onclick='window.history.pushState("EVE Solution - Contact", "EVE Solutions - Contact", "./#contact-container");'><script>document.write(settedLanguage.contactsMenu);</script></a></p>
            </div>
        </div>
        <div class="col-md-4 contact-row">
            <img src="images/eveit-small-logo.png" alt="EVE Solutions s.r.o. small logo" style="margin-top: 80px; padding-left: 50px;"\>

            <div id="eveit-contact-info">
                <span class="yellow">EVE Technologies s.r.o.</span>
                <table id="contact-table">
                    <tr>
                        <td><img src="images/House-ico.png" alt="house icon"> &nbsp;</td>
                        <td><b>Sídlo firmy :</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Kamelova 3260/3</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>106 00 - Praha 10</td>
                    </tr>
                    <tr>
                        <td><b>IČO</b> &nbsp;</td>
                        <td>04325966</td>
                    </tr>
                    <!--<tr>
                        <td><img src="images/House-ico.png" alt="house icon"> &nbsp;</td>
                        <td><b>Kancelář :</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Opletalova 929/22</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>110 00 - Praha 1</td>
                    </tr>-->
                    <tr>
                        <td><img src="images/Phone-icon.png" alt="phone icon"></td>
                        <td>(+420) 720 752 438</td>
                    </tr>
                    <tr>
                        <td><img src="images/Letter-icon.png" alt="e-mail icon"></td>
                        <td><a href="mailto:info@evetech.cz">info@evetech.cz</a></td>
                    </tr>
                    <tr>
                        <td><b>WWW</b> &nbsp;</td>
                        <td><a href="http://www.evetech.cz">www.evetech.cz</a></td>
                    </tr>
                </table>
            </div>

            <div id="social-icons-set">
                <div class="social-icon" id="facebook-social"></div>
                <div class="social-icon" id="twitter-social"></div>
                <div class="social-icon" id="youtube-social"></div>
                <div class="social-icon" id="googleplus-social"></div>
            </div>
        </div>
    </div>
</div>
</section>
<script src="{{ " /libs/lm.script.js" | prepend: site.baseurl }}"></script>
