
<!--[if lt IE 9]>
<script>
    document.createElement('video');
</script>
<![endif]-->
<section class="screen-panel intro">

    <video autoplay poster="./video/background.jpg" id="bgvid" loop class="hidden-xs hidden-sm">
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="{{ site.url }}/video/Laptop_1_Videvo.webm" type="video/webm">
        <source src="{{ site.url }}/video/Laptop_1_Videvo.mp4" type="video/mp4">
    </video>
    <div class="container-fluid" id="intro-page">
        <div id="banner">
            <img src="{{ site.url }}/css/images/big-banner.png" alt="EVE Solutions s.r.o." id="logo-banner">
        </div>
        <div id="intro-h1">
            <h1><script>document.write(settedLanguage.title1);</script></h1><br>
            <h1><script>document.write(settedLanguage.title2);</script></h1>
        </div>
    </div>


</section>
<section class="home">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse" id="main-nav">
        <div class="container-float">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span active class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><div class="navbar-brand-logo"><img src="./css/images/small-banner.png" id="small-logo" alt="EVE Solutions s.r.o. logo"></div></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav-table">
                    <ul class="nav navbar-nav">
                        <li><a href="#aboutus-container"
                               onclick='window.history.pushState("EVE Solution - About Us", "EVE Solutions - About Us", "./#aboutus-container");'><script>document.write(settedLanguage.aboutusMenu);</script></a></li>
                        <li><a href="#services-container"
                               onclick='window.history.pushState("EVE Solution - Services", "EVE Solutions - Services", "./#services-container");'><script>document.write(settedLanguage.servicesMenu);</script></a></li>
                        <li><a href="#team-container"
                               onclick='window.history.pushState("EVE Solution - Team", "EVE Solutions - Team", "./#team-container");'><script>document.write(settedLanguage.teamMenu);</script></a></li>
                        <li><a href="#contact-container"
                               onclick='window.history.pushState("EVE Solution - Contact", "EVE Solutions - Contact", "./#contact-container");'><script>document.write(settedLanguage.contactsMenu);</script></a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <!--Uncoment this while english language is added-->
            <!--<div id="language-icon" actual=""</div>-->
        <script>
            $("#language-icon").attr("actual", localStorage.getItem("language"));
            if (localStorage.getItem("language") == "cs")
                $("#language-icon").css("background-position", "24px 0px");
            else if (localStorage.getItem("language") == "en")
                $("#language-icon").css("background-position", "0px 0px");
        </script>
        </div>
    </nav>
    <!-- Fixed navbar -->